<div class="container-fluid p-0">
  <div class="row">

    <div class="col-md-2 col-lg-2 p-0">
      <%= render '/shared/investor_dashboard_sidebar' %>
    </div>

    <div class="col-md-10 col-lg-10 p-0">

      <h2 class="m-4"> Welcome to your dashboard <%= current_user.first_name %>!</h2>

      <!-- KPIs BOX-->
      <div class="d-flex justify-content-between align-items-center mr-4 mt-4" style="height: 150px;" id="page-content-wrapper">
        <!-- Insert cardsinfo -->
        <div class="card-campaign-status kpibox m-5">
          <div class="d-flex mt-4 justify-content-around align-items-center">
            <div class="text-center">
              <h2 class="m-3 kpidash"><%= number_with_delimiter(@investments.sum(:amount), :delimiter => ',')%></h2>
              <h2 class="text-secondary mb-2" style="font-size: 20px;">$ Invested</h2>
            </div>
          </div>
        </div>

        <div class="card-campaign-status kpibox m-5">
          <div class="d-flex mt-4 justify-content-around align-items-center">
            <div class="text-center">
              <h2 class="m-3 kpidash"><%= number_with_delimiter(@investments.last.amount, :delimiter => ',')%></h2>
              <h2 class="text-secondary mb-2" style="font-size: 20px;">$ Last investment</h2>
            </div>
          </div>
        </div>

        <div class="card-campaign-status kpibox m-5">
          <div class="d-flex mt-4 justify-content-around align-items-center">
            <div class="text-center">
              <h2 class="m-3 kpidash"><%= @avge_int_rate*100.round(0)%></h2>
              <h2 class="text-secondary mb-2" style="font-size: 20px;">% Avge Return</h2>
            </div>
          </div>
        </div>

        <div class="card-campaign-status kpibox m-5">
          <div class="d-flex mt-4 justify-content-around align-items-center">
            <div class="text-center">
              <h2 class="m-3 kpidash"><%= @investments.where.not(payment_date: nil).count%></h2>
              <h2><img style="height: 45px;" src="https://img.icons8.com/carbon-copy/100/000000/restaurant.png"></h2>
              <p class="text-secondary mb-2" style="font-size: 12px;"></p>
            </div>
          </div>
        </div>


      </div>

      <div class="d-flex graph-container">
        <div class="graph-bar">
          <canvas data-graph="<%= JSON.generate(@graph_data_bar) %>" id="bar" ></canvas>
        </div>
        <div class="graph-pie">
          <canvas data-graph="<%= JSON.generate(@graph_data_pie) %>" id="pie"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>



    <!-- Reorganize -->


