<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><%= current_user.last_name%> <%= current_user.first_name%> </div>
    <div class="list-group list-group-flush">
      <a href="/myinvestments/dashboard"  class="list-group-item list-group-item-action">Dashboard</a>
      <a href="/myinvestments" style="background-color: lightgrey; font-weight: bold!important;" class="list-group-item list-group-item-action bg-light">Investments</a>
      <a href="/myinvestments/myrewards" class="list-group-item list-group-item-action bg-light">Rewards</a>
      <a href="/myinvestments/mymap" class="list-group-item list-group-item-action bg-light">Map</a>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <% @investments.each do |investment| %>
      <%#= link_to investment.campaign_path(campaign), class: "wrapper-link" do %>
      <div class="card-wrapper">
        <!-- investment card -->
        <div class="card-investment">

          <!-- background pic -->
          <div class="position-relative" style="text-align: center;">
            <img class="card-pic"src="https://images.unsplash.com/photo-1498654896293-37aacf113fd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="food pic">
            <div style="position:absolute;bottom:20px;left:20px;font-size:35px; color: white;"><%= investment.campaign.company.name %> </div>
          </div>
          <!-- insert company.photo -->


          <!-- <h5>10 days left</h5> -->
          <h5><%= ((investment.campaign.expiry_date - Time.now)/86400).round(0)%> days left</h5>

<!--         <h1><%#= investment.campaign.company.name %></h1>
-->
<!-- Calculations -->

<% raised = Investment.where(campaign_id: investment.campaign.id).sum("amount") %>
<% target = investment.campaign.min_target %>
<% status = ((raised.to_f/target)*100).round(1) %>

<div class="box-align" >
  <h4>Campaign Overview</h4>
  <ul>
    <li><p style="font-size: 16px";>Campaign target: $ <%= number_with_delimiter(investment.campaign.min_target, :delimiter => ',') %></p> </li>
    <li><p style="font-size: 16px";> Funding Status: <%= status %> % ($ <%= raised %>)</p></li>

    <li><p style="font-size: 16px";>Campaign target: $ <%= Investment.where(campaign_id: investment.campaign.id).count %></p> </li>

    <li><p style="font-size: 16px";>Avge Inv Rate <%= (investment.campaign.return_rate*100).round(1)  %> %</p> </li>
  </ul>
  <br>
  <h4>Your Investment </h4>
  <ul>
    <li><p style="font-size: 16px";>Your current investment: $ <%= investment.amount %> </p></li>
    <% if investment.payment_date.nil? %>
    <li><p style="font-size: 16px";> Payment date: Pending </p></li>
    <% else %>
    <li><p style="font-size: 16px";> Payment date: <%= investment.payment_date&.strftime("%m/%d/%Y") %></p></li>
    <% end %>
  </ul>
</div>
</div>
</div>

<% end %>

</div>
</div>
</div>
