<div class="container">
  <h1>Investment Summary</h1>

  <%= simple_form_for(campaign_investments_path) do |f| %>

  <p>Invest Amount: <%= humanized_money_with_symbol(@investment.amount) %></p>
  <p>Interest:</p>
  <p>Duration:</p>
  <%= f.input :amount, :input_html => { :value => @investment.amount }   %>
  <%= f.input :reward, :input_html => { :value => @investment.reward.id }  %>
  <%= f.input :stripe_session_id, :input_html => { :value => @investment.stripe_session_id }  %>
  <br>

  <p><em>additional information...</em></p>

  <br>

  <p>Reward: <%= @investment.reward.description %></p>

  <%= submit_tag 'Purchase', class: 'btn btn-primary', id:"pay" %>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @investment.stripe_session_id %>'
      });
    });
  </script>
  <% end %>


</div>
