<div class="container justify-content-center">
  <div class="text-center my-4">
    <h1 class="my-3"><span class="font-weight-bold" style="color: rgb(23,173,44)">Investment Summary</span></h1>
  </div>

  <div class="card-investment-summary justify-content-center" style="width: 800px; margin: 0 auto;">
    <div class="text-center p-4">


      <h1 class="font-weight-bold my-2"><%= @campaign.company.name %></h1>

      <h2 class="font-weight-bold my-2">Amount: <%= humanized_money_with_symbol(@investment.amount) %></h2>

      <%= simple_form_for(campaign_investments_path) do |f| %>

      <h2 class="font-weight-bold my-2">Interest: <%= (@campaign.return_rate * 100).round(2) %> %</h2>

      <h2 class="font-weight-bold my-2">Duration: <%= @campaign.loan_duration %> months</h2>

      <h2 class="font-weight-bold my-2">Reward: <%= @reward.description %></h2>


      <div class="w-75" style="margin: 0 auto;">
        <%= render "shared/campaign_status", campaign: @campaign %>
      </div>


      <div>
        <%= render "campaigns/shared/carousel" %>
      </div>

      <!-- risk card component -->

      <div class="card-campaign-status p-3 mt-4 mb-4 mx-4" style=" background-color: #f4f4f4; border-radius: 20px; box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);">
        <div class="p-2 d-flex justify-content-around align-items-center" style="background-color: white; border-radius: 16px;">
          <div class="text-center">
            <div class="m-0">Risk Level</div>
            <div class="d-flex justify-content-around mx-2">
              <div class="circle-icon align-self-center color-type-<%= @campaign.risk_level %>"></div>
              <span style="font-size: 48px; margin: 0;">
                <p class="m-0"><%= @campaign.risk_level %></p></span>
              </div>
            </div>
            <div style="border: 1px solid lightgrey; height: 80px; background-color: lightgrey;"></div>
            <div>
              <div class="box-alignment">
                <div class="box-alignment-risk">
                  <p class="small-text-risk">Repayment Capacity</p>
                  <div class="small-box type-<%= @campaign.repayment_capacity %> align-self-center"><%= @campaign.repayment_capacity %></div>
                </div>
                <div class="box-alignment-risk">
                  <p class="small-text-risk">Financial Health</p>
                  <div class="small-box type-<%= @campaign.financial_health %> align-self-center"><%= @campaign.financial_health %></div>
                </div>
                <div class="box-alignment-risk">
                  <p class="small-text-risk">Company History</p>
                  <div class="small-box type-<%= @campaign.company_history %> align-self-center"><%= @campaign.company_history %></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <p class="font-weight-bold my-4" style="color: rgb(23,173,44)">Please confirm you understand the risks before you proceed with your investment</p>

        <div class="custom-control custom-checkbox my-4">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">I understand the risks of my investment</label>
        </div>

        <style>
          input[type="checkbox"]:checked + label::after {
            background-color: rgb(23,173,44);
            border-radius: 2px;
          }
        </style>



        <script>
          window.onload = () => {
// const toggle = document.getElementById("menu-toggle");
// toggle.addEventListener('click', (e) => {
//   e.preventDefault();
//   document.getElementById("wrapper").classList.toggle('toggled');
// });

const chk = document.getElementById('customCheck1');
const btn = document.getElementById('pay');
chk.addEventListener('change', () => {
btn.disabled = !btn.disabled; //true: disabled, false: enabled
}); //page load trigger event
}
</script>
<!--
  <input type="submit" name="commit" value="Invest" class="btn btn-success px-5" style="margin-left: 16px;" data-disable-with="Invest"> -->

  <%= submit_tag 'Pay Now', class: 'btn btn-success px-5', id:"pay", disabled: true %>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @investment.stripe_session_id %>'
      });
    });
  </script>
  <% end %>


</div>
</div>
<!-- container closing div -->
</div>
