<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><%= current_user.last_name%> <%= current_user.first_name%> </div>
    <div class="list-group list-group-flush">
      <a href="/myinvestments/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a href="/myinvestments" class="list-group-item list-group-item-action bg-light">Investments</a>
      <a href="/myinvestments/myrewards" style="background-color: lightgrey; font-weight: bold!important;" class="list-group-item list-group-item-action">Rewards</a>
      <a href="/myinvestments/mymap" class="list-group-item list-group-item-action bg-light">Map</a>

    </div>
  </div>


  <div>


    <div class="container">
      <% if @investments.empty? %>
      <h3 class="my-3">It looks like you don't have any rewards yet, <%= current_user.first_name%></h3>
      <h3>Do you want to invest in a new campaign?</h3>

      <div>
        <%= link_to "Fund a restaurant", investments_path, class:"btn btn-sm btn-outline-secondary" %>
      </div>

      <% else %>

      <h1>Your rewards </h1>
      <table class="table table-hover">
        <thead class="">
          <tr>
            <th scope="col"></th>
            <th scope="col">Restaurant</th>
            <th scope="col">Campaign</th>
            <th scope="col">Amount Invested</th>
            <th scope="col">Reward</th>
            <th scope="col">Status</th>
            <th scope="col">Redeem</th>


          </tr>
        </thead>

        <tbody>

         <% @investments_payed.each_with_index do |investment, index| %>

         <tr class="<%= index.even? ? 'bg-light' : '' %>">
          <td scope="row">
            <% if investment.reward_redeemed %>
            <i class="fas fa-check-circle text-success" style="font-size: 24px;"></i>
            <% else %>
            <i class="fas fa-circle" style="font-size: 24px; color: grey;"></i>
            <% end %>
          </td>
          <td scope="row"><%= investment.campaign.company.name %></td>
          <td><%= investment.campaign.title %></td>
          <td>$<%= number_with_delimiter(investment.amount, :delimiter => ',') %></td>
          <td><%= investment.reward.description %></td>
          <td>Pending</td>
          <td>
            <% unless investment.reward_redeemed %>
            <h5><%= link_to "Redeem", investment_reward_redemptions_path(investment), method: :post, class: "btn btn-success" %></h5>
            <% end %>
          </td>
        </tr>
        <% end %>

        <tr>
          <td scope="row"> Total</td>
          <td></td>
          <td>$<%= number_with_delimiter(@investments_payed.sum("amount"), :delimiter=>',') %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>

    <% end %>
  </div>


</div>



</div>
