        <!-- investment card -->
        <div class="card-investment mb-5">
          <style>
          </style>
          <div class="card-user">
            <% if campaign.company.type_store == "Restaurant" %>
            <%= image_tag "restaurant.png", class:"avatar-m-square", alt: "avatar" %>
            <% elsif campaign.company.type_store == "Bar" %>
            <%= image_tag "bar.png", class:"avatar-m-square", alt: "avatar" %>
            <% else %>
            <%= image_tag "cafe.png", class:"avatar-m-square", alt: "avatar" %>
            <% end %>

            <% days_left = ((campaign.expiry_date - Time.now)/86400).round(0) %>
            <% if days_left < 5 && days_left >= 0 %>
            <i  class="far fa-clock spinner-position"></i>

            <% else %>
            <% end %>

          </div>

          <!-- background pic -->
          <!-- insert company.photo -->
          <% if campaign.company.photo.attached? %>
            <%= cl_image_tag campaign.company.photo.key, class: "card-pic"%>
          <% else %>
            <img class="card-pic" src="https://source.unsplash.com/1600x900/?food" class="card-img-top" alt="food-img">
          <% end %>
          <div class="card-investment-body">
          <% if days_left > 5 %>
            <h5><span class="badge badge-open "> <%= days_left%> days left  </span></h5>
          <% elsif days_left <= 5 && days_left > 1  %>
            <h5><span class="badge badge-hour "> <%= days_left%> days left  </span></h5>
          <% elsif days_left == 1 %>
            <h5><span class="badge badge-hour "> <%= days_left%> day left  </span></h5>
          <%# elsif days_left = 1 %>
          <!-- <h5><span class="badge badge-open "> <%= days_left%> day left  </span></h5> -->
            <% elsif days_left == 0 %>
            <h5><span class="badge badge-hour "> <%= (((campaign.expiry_date - DateTime.current)/(24*3600)).round(2).to_s.split(".").last.to_i * 0.24).round(0) %> hours left  </span></h5>
          <% else %>
          <h5 class="pb-0"> <span class="badge badge-closed ">Funded </span></h5>
          <% end %>
          <h1 class="mt-0 font-weight-bold" ><%= campaign.company.name %>
          </h1>
          <p class="mb-3 tall"><%= campaign.description %>
          </p>
          <div class="box-align mb-3">
            <h4>$ <%= number_with_delimiter(campaign.min_target, :delimiter => ',') %> target</h4>
          </div>
          <div class="target-bar mx-auto">
            <% if Investment.where(campaign_id: campaign.id).sum("amount") != 0 %>
            <% raised = Investment.where(campaign_id: campaign.id).sum("amount") %>
            <% target = campaign.min_target %>
            <% status = ((raised&.to_f/target)*100).round(0) %>
            <% end %>
            <div>
              <progress value="<%= status %>" max="100" id="progress-bar-percentage" class="progress-bar notfull">
              </progress>
            </div>
            <div class="statusbar-relative"> <p><%= status %> %</p>
            </div>

          </div>
          <div class="box-align d-flex justify-content-between px-3" id="cardkpisbottom">
            <div class="text-center">
              <h4 class="text-center">$ <%= number_with_delimiter(Investment.where(campaign_id: campaign.id).sum("amount"), :delimiter => ',') %></h4>
              <p class="text-center">raised</p>
            </div>
            <div class="align-self-center" style="border: 1px solid lightgrey; height: 50px">
            </div>
            <div class="text-center">
              <h4 class="text-center"><%= (campaign.return_rate*100).round(2) %>%</h4>
              <p class="text-center">interest</p>
            </div>
            <div class="align-self-center" style="border: 1px solid lightgrey; height: 50px">
            </div>
            <div class="text-center">
              <h4 class="text-center"><%= Investment.where(campaign_id: campaign.id).count%></h4>
              <p class="text-center">investors</p>
            </div>
          </div>

          </div>
        </div>
