<div class="card-campaign-status p-2 mb-5 mt-5" style="">
  <div class="target-bar m-3 bg-white">
    <div class="" style="background-color: rgb(23,173,44); width: <%= campaign.progress_percentage < 100 ? campaign.progress_percentage : 100 %>%; border-radius: 8px;">
      <p class="px-3" style="color:white;"><%= campaign.progress_percentage %>%</p>
    </div>
  </div>
  <%# end %>

  <div class="d-flex mt-4 justify-content-around px-4">
    <div class="text-center">
      <h5><%= campaign.investments.count %></h5>
      <p class="text-secondary mb-2" style="font-size: 12px;">investors</p>
    </div>
    <div style="border: 1px solid lightgrey; height: 50px"></div>
    <div class="text-center">
      <h5>$<%= number_with_precision(campaign.raised_sum, :precision => 0, :delimiter => ',') %></h5>
      <p class="text-secondary mb-2" style="font-size: 12px;">raised</p>
    </div>
    <div style="border: 1px solid lightgrey; height: 50px"></div>
    <div class="text-center">

      <% days_left = ((campaign.expiry_date - Time.now)/86400).round(0) %>
      <% hours_left = (((campaign.expiry_date - DateTime.current)/(24*3600)).round(2).to_s.split(".").last.to_i * 0.24).round(0) %>

      <% if days_left < 0  %>
          <%= image_tag "closed.png",class:"closed-investment-position",  alt: "avatar" %>
      <% else %>
        <h5><%= days_left %>d <%= hours_left %>h</h5>
        <p class="text-secondary mb-2" style="font-size: 12px;">remaining</p>
      <% end %>
    </div>
  </div>
</div>
