<div class="card-campaign-status p-3 my-5">
  <div class="p-2 d-flex justify-content-around align-items-center bg-white" style="border-radius: 16px;">
    <div class="text-center">
      <div class="m-0">Risk Level</div>
      <div class="d-flex justify-content-around mx-2">
        <div class="circle-icon align-self-center color-type-<%= @campaign.risk_level %>"></div>
        <span style="font-size: 48px; margin: 0;">
          <p class="m-0"><%= @campaign.risk_level %></p>
        </span>
      </div>
    </div>
    <div style="border: 1px solid lightgrey; height: 80px; background-color: lightgrey;"></div>
    <div>
      <div class="box-alignment">
        <div class="box-alignment-risk">
          <p class="small-text-risk">Repayment Capacity</p>
          <div class="small-box type-<%= campaign.repayment_capacity %> align-self-center"><%= campaign.repayment_capacity %></div>
        </div>
        <div class="box-alignment-risk">
          <p class="small-text-risk">Financial Health</p>
          <div class="small-box type-<%= campaign.financial_health %> align-self-center"><%= campaign.financial_health %></div>
        </div>
        <div class="box-alignment-risk">
          <p class="small-text-risk">Company History</p>
          <div class="small-box type-<%= campaign.company_history %> align-self-center"><%= campaign.company_history %></div>
        </div>
      </div>
    </div>
  </div>
</div>
