<div class="text-center" id="sidebar-wrapper" style="position: sticky; top: 73px;">
  <div class="sidebar-heading text-left">
    <%= current_user.first_name%> <%= current_user.last_name%>
  </div>
  <div class="list-group list-group-flush text-left">
    <% @menu.each do |item| %>
    <a href="<%= item[:url] %>" class="bg-light list-group-item list-group-item-action <%= item[:action_name] == action_name ? "active-tab": "" %>">
      <%= item[:title] %>
    </a>
    <% end %>
  </div>
  <a href="/campaigns" class="mt-4 btn btn-outline-success">New investment</a>
</div>
