<div class="container">
  <% if @closed.empty? %>
    <h3 class="my-3">It looks like you haven't invested in any campaigns yet, <%= current_user.first_name%></h3>
    <h3>Do you want to Invest in a campaign?</h3>

    <div>
      <%= link_to "Invest Now", campaigns_path, class:"btn btn-sm btn-outline-secondary" %>
    </div>
  <% else %>

    <h2 class="mt-4">Your investments in <em>closed</em> campaigns</h2>
    <table class="table mt-4 text-center">
      <thead class="table-secondary">
        <tr>
          <th scope="col">Restaurant Campaign</th>
          <th scope="col">Investment Date</th>
          <th scope="col">Interest Rate</th>
          <th scope="col">Loan duration</th>
          <th scope="col">Your investment</th>
        </tr>
      </thead>

      <tbody>
        <% @closed.each_with_index do |investment, index| %>
           <tr class="<%= index.odd? ? 'bg-light' : '' %>">
            <td><%= link_to investment.campaign.company.name, campaign_path(investment.campaign),class: "wrapper-link2" %></td>
            <td><%= investment.payment_date&.strftime("%B %e, %Y") %></td>
            <td><%= (investment.campaign.return_rate*100).round(1) %> %</td>
            <td><%= investment.campaign.loan_duration %> months</td>
            <td>$ <%= number_with_delimiter(investment.amount, :delimiter => ',') %> </td>
            </tr>
        <% end %>
          <tr class="table-active">
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td>$ <%= number_with_delimiter(@sum_closed_campaign_amount, :delimiter => ',') %></td>
          </tr>
      </tbody>
    </table>
  <% end %>
</div>
