<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
  <img src="https://img.icons8.com/doodle/48/000000/dining-room.png">
  Fundeat
  <% end %>

  <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Investing", "/campaigns", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Raising", "/my_campaigns", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Login", "/users/sign_in", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Signup", "/users/sign_up", class: "nav-link" %>
      </li>
      <!--  -->
    </ul>
  </div>
</div>
