<div class="bg-light border-right text-center" id="sidebar-wrapper" style="position: sticky;top: 57px;">
  <div class="sidebar-heading text-left">
    <%= current_user.first_name%> <%= current_user.last_name%>
  </div>
  <div class="list-group list-group-flush text-left">
    <% @menu.each do |item| %>
    <a href="<%= item[:url] %>" class="list-group-item list-group-item-action bg-light <%= item[:action_name] == action_name ? "active-tab": "" %>">
      <%= item[:title] %>
    </a>
    <% end %>
  </div>
</div>

