<div class="container-fluid p-0">
  <!-- start of row1 -->
  <div class="position-relative">
    <div class="background-green pb-5 pt-3">
      <div class="row d-flex background-green align-items-end p-5">
        <div class="col-6 pl-5 py-5">
          <%= render "hometext" %>
        </div>
        <div class="col-6 pr-5 py-5">
          <%= render "carousel" %>
        </div>
      </div>
      <div class="col-6 justify-content-center mx-auto">
        <%= render "cta" %>
        <%#= render "investment-information" %>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row my-4 mx-auto" style="border: 1px solid lightgrey"></div> -->
<div class="container" style="margin-top: 90px;">
  <div class="row">

    <% @campaigns.take(3).each do |campaign| %>
    <%= link_to campaign_path(campaign), class: "col-md-4 col-sm-6 wrapper-link" do %>
      <%= render "campaigns/shared/card", campaign: campaign %>
    <% end %>
    <% end %>
  </div>
  <!-- # investment card closing div -->
  <div class="d-flex justify-content-center">
    <h5 class="mb-4"><%= link_to "SHOW MORE", "/campaigns", class: "btn btn-outline-success" %></h5>
  </div>
</div>


<div class="">
  <div class="row pt-5">
    <div class="d-flex mt-2 align-items-center">
      <!-- <img class="col-6 pic-home w-50 object-fit-cover" src="https://images.unsplash.com/photo-1470784790053-6c2f15489967?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2241&q=80" alt="home pic 1"> -->
      <%= image_tag "chef.svg", class:"col-3 p-5 ml-5" %>
      <div class="mx-5 pr-5">
        <h1 class="mb-4">Support entrepreneurs on a mission</h1>
        <p>Take a look at live investment opportunities on Fundeat today, and give yourself a feel-good factor that's hard to beat by backing a restaurant you believe in.</p>
      </div>
    </div>
  </div>

  <div class="row" style="background-color: #f3f3f3;">
    <div class="d-flex align-items-center">
      <div class="mx-5 pl-5">
        <h1 class="mb-4">Create change in your community</h1>
        <p>Build a better neighboorhoud, a better city and a better country. Change happens when people feel empowered. Take an active role and make dreams come true.</p>
      </div>
      <!-- <img class="pic-home ml-3 flex-grow-0 w-50 object-fit-cover" src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="home pic 2"> -->
      <%= image_tag "world.svg", class:"col-3", style:"margin-right: 128px; padding: 32px 64px;" %>
    </div>
  </div>

  <div class="row">
    <div class="d-flex align-items-center">
      <!-- <img class="col-6 pic-home w-50 object-fit-cover" src="https://images.unsplash.com/photo-1470784790053-6c2f15489967?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2241&q=80" alt="home pic 1"> -->
      <%= image_tag "invest.svg", class:"col-3 p-5 ml-5" %>
      <div class="mx-5 pr-5">
        <h1 class="mb-4">Fiancially benefit from sustainable returns</h1>
        <p>Take a look at live investment opportunities on Fundeat today, and give yourself a feel-good factor that's hard to beat by backing a restaurant you believe in.</p>
      </div>
    </div>
  </div>

</div>
</div>

<div class="row py-4 d-flex flex-column text-center background-green">

  <p class="mb-3">We're proud to fund great entrepreneurs. Because we know Argentina would be a lot less interesting without them.</p>
  <p class="font-weight-bold" style="font-size: 24px;">Are you with us?</p>
  <h5><%= link_to "Start investing", "/campaigns", class: "btn btn-success" %></h5>
</div>
<!-- end of row6 -->


