<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="col-md-2 col-lg-2 p-0">
    <%= render '/shared/owner_dashboard_sidebar' %>
  </div>

  <div class="col-md-10 col-lg-10 p-0">

    <div class="text-center mt-5">
      <h4>Campaign dashboard for <strong><%= @company.name%> </gstrong>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-7 my-4">
            <div class="row ">
              <div class="col">
                <div class="card-campaign-status kpibox kpibox-green m-0">
                  <div class="d-flex mt-4 justify-content-around align-items-center">
                    <div class="text-center">
                      <%= image_tag "investing.svg", class:"dash-pic", alt: "picture" %>
                      <h2 class="m-3 kpidash">$<%= number_with_delimiter(@company.campaign.min_target, :delimiter => ',')%></h2>
                      <h2 class="text-secondary mb-2" style="font-size: 20px;">Target</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card-campaign-status kpibox kpibox-green m-0">
                  <div class="d-flex mt-4 justify-content-around align-items-center">
                    <div class="text-center">
                      <%= image_tag "achieved.svg", class:"dash-pic", alt: "picture" %>
                      <h2 class="m-3 kpidash">$<%= number_with_delimiter(@company.campaign.raised_sum, :delimiter => ',')%></h2>
                      <h2 class="text-secondary mb-2" style="font-size: 20px;">Raised</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card-campaign-status kpibox kpibox-green m-0">
                  <div class="d-flex mt-4 justify-content-around align-items-center">
                    <div class="text-center">
                      <%= image_tag "togo.svg", class:"dash-pic", alt: "picture" %>
                      <h2 class="m-3 kpidash">$<%= number_with_delimiter(@company.campaign.to_go, :delimiter => ',')%></h2>
                      <h2 class="text-secondary mb-2" style="font-size: 20px;">To Go</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-5 my-4">
            <div class="row ">
              <div class="col">
                <div class="card-campaign-status kpibox kpibox-green m-0">
                  <div class="d-flex mt-4 justify-content-around align-items-center">
                    <div class="text-center">
                      <%= image_tag "investors.svg", class:"dash-pic", alt: "picture" %>
                      <h2 class="m-3 kpidash"><%= @company.number_of_investors%></h2>
                      <h2 class="text-secondary mb-2" style="font-size: 20px;">Investors</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card-campaign-status kpibox kpibox-green m-0">
                  <div class="d-flex mt-4 justify-content-around align-items-center">
                    <div class="text-center">
                      <%= image_tag "average2.svg", class:"dash-pic", alt: "picture" %>
                      <h2 class="m-3 kpidash">$<%= number_with_delimiter(@company.campaign.raised_sum / @company.number_of_investors, :delimiter => ',')%></h2>
                      <h2 class="text-secondary mb-2" style="font-size: 20px;">Avg. / investor</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- graph 1 -->
          <div class="col-md-7">
            <div class="item-dash my-3 mr-2 py-5">
              <h4 class="text-center">$ Raised over time</h4>
              <% array = @company.campaign.investments.group_by_day(:payment_date).sum(:amount).to_a %>
              <% sum = 0
              array.map! do |date, amount|
                [date, (sum = sum + amount )]
                end %>
                <%= line_chart array, colors: ["green"], xtitle: "Time", ytitle: "$ raised", min: nil, max: nil %>
              </div>
            </div>

            <!-- calendar -->
            <div class="col-md-5">
              <div class="item-dash my-3 mr-4 py-5 d-flex flex-column">
               <h4 class="text-center">Campaign expiration date</h4>
               <div class="align-self-center">
                <div id="datepicker2" data-end-date="<%= @company.campaign.expiry_date %>"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
