<div>
  <%= render "campaigns/shared/carousel" %>
</div>

<div class="container" style="margin-top: -120px;">

  <style>
  .input-group-btn {
    display: none;
  }

  .investment_amount {
    margin: 0;
  }
</style>

  <div class="row">
    <div class="col-lg-8">
      <!-- COMPANY LOGO -->
      <div class="restaurant-logo position-relative">
        <%= render "shared/restaurant_icon", campaign: @campaign, class: "img-sm-grey", alt: "avatar" %>
      </div>

      <h1 class="mt-4 font-weight-bold"><%= @campaign.company.name %></h1>
        <h4 class="text-grey" id="company_type"><%= @campaign.company.type_store %> - <%= @campaign.company.address %></h4>

      <div>
        <div class="w-75" style="margin: 0 auto;">
          <%= render "shared/campaign_status", campaign: @campaign %>
        </div>

        <h4 class="my-4"><%= @campaign.title %></h4>
        <!-- SWITCH LATER WHEN CAMPAIGN DESCRIPTION GIVEN -->
        <p><%= @campaign.description %></p>
        <!-- -------------------------------------------- -->

        <div class="w-75" style="margin: 0 auto;">
          <%= render "shared/campaign_risk", campaign: @campaign %>
        </div>

        <div class="text-center my-5">
          <iframe width="100%" height="360"  src="https://www.youtube.com/embed/6QS17b1itIE?autoplay=1&modestbranding=1&controls=0&frameborder=0"></iframe>
        </div>

        <h4><%= @campaign.company.name %></h4>
        <p><%= @campaign.company.description %></p>
      </div>

      <!-- map  -->
      <div class="d-flex justify-content-center my-5">
        <div id="mapbox" class="rounded" style="width: 100%; height: 40vh;" data-markers="<%= @marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>

      <!-- investment card -->
      <div class="col-12 col-lg-4" id="sidebar">

        <div class="position-stickty-top-90-right">
          <div id="card-fixed" class="mx-sm-auto">

            <div class="card-investment-play bg-lightgreen p-4 m-0 card-campaign-status">
              <!-- invest field and button -->
              <%= simple_form_for [@campaign, @investment], url: new_campaign_investment_path(@campaign), method: :get do |f| %>
              <div class="form-input d-flex justify-space-between align-items-center mb-4 text-center justify-content-center">
                <% if @campaign.expired? %>
                    <%= image_tag "closed.png",class:"closed-investment-position",  alt: "avatar" %>
                <% else %>
                    <% if current_user && current_user.owner? %>
                        <h3 class="text-center small m-0 p-2 bg-secondary font-weight-bold"><em> Create Investor Account</em></h3>
                    <% else %>
                        <%= f.input :amount, class: "input-field", placeholder: "$ 500", label: false, :required => true,  :input_html => { :type => "number" } %>
                        <%= f.submit "Invest", class: "btn btn-success px-5", style:"margin-left: 16px;" %>
                    <% end %>
                <% end %>
              </div>
            <% end %>

            <!-- campaign stats -->
            <%= render "shared/investment_terms", campaign: @campaign %>
            <div class="d-flex flex-column justify-content-between">
              <!-- range slider  -->
              <form>
                <div class="investment-slider">
                  <label for="investmentRange" style="margin: 0; font-size: 12px;">Investment</label>
                  <input type="range" class="investment-range w-100" min="20" max="5000" step="10" id="investmentRange">
                </div>
              </form>
            </div>
            <!-- return section -->
            <%= render "shared/return_calculation", campaign: @campaign %>
            <!-- rewards section -->
            <div class="mt-4">
              <h5 style="font-size: 12px;">My reward</h5>
              <% @campaign.rewards.each_with_index do |reward, index| %>
              <div id="reward-<%= index %>" class="d-flex align-items-center px-3 py-1 mt-2 reward <%= index == 0 ? "active" : "" %>" style="border-radius: 50px;" data-amount="<%= reward.investment_amount %>">
                <!-- <input type="hidden" id="reward-threshold-<%= index %>" > -->
                <i class="fas fa-gift"></i>
                <p class="m-0 ml-4" id="investment_reward"><%= reward.description %></p>
              </div>
              <% end %>
            </div>
          </div>
          </div>
        </div>

      </div><!-- investment card closing div -->
  </div>


</div>
