<div class="d-flex" id="wrapper">


  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><%= current_user.first_name%> <%= current_user.last_name%> </div>
    <div class="list-group list-group-flush">
      <a href="owners_dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a href="/mycampaigns" class="list-group-item list-group-item-action bg-light">Campaign</a>
      <a href="support" class="list-group-item list-group-item-action bg-light">Support</a>
    </div>
  </div>

  <!-- Page content -->
  <div class="container">

    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">

<div style="margin-bottom: 50px;">
      <h1>Support</h1>
</div>

      <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :Available_dates, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%#= f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Schedule an appointment now", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <!-- Page content end-->

  <!-- /#closing-wrapper -->
</div>
<!-- /#closing-wrapper -->
